.header {
    height: 1080px;
    background: linear-gradient(
            rgba(255,255,255, 0) 40%,
            rgba(255,255,255,.1) 45%,
            rgba(255,255,255,.2) 50%,
            rgba(255,255,255,.3) 55%,
            rgba(255,255,255,.4) 60%,
            rgba(255,255,255,.5) 65%,
            rgba(255,255,255,.6) 70%,
            rgba(255,255,255,.65) 75%,
            rgba(255,255,255,.7) 80%),
    url(assets/img/website-background.gif);
    width: 1700px;
    background-size: cover;
    position: relative;

}

.projects {
    height: auto;
    padding-top: 15rem;
    padding-bottom: 5rem;


}


@media only screen and (max-width: 56.25em) {
    .projects {
        padding: 10rem 0; }
}


/* CARDS */

.card {
    perspective: 1500px;
    -moz-perspective: 1500px;
    position: relative;
    height: 325px;
    width: 325px;
    margin: 20px 20px;
    background: transparent !important;
    border: none !important;
    border-radius: 7.5px;
}

.card__side {
    height: 325px;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    border: none !important;
    border-radius: 7.5px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);
}

.card__side--front {
    background-color: #fff;
}
.card__side--back {
    transform: rotateY(180deg);
}


.card__side--back-1 {
    background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
.card__side--back-2 {
    background-image: linear-gradient(to right bottom, #ffb900, #ff7730);}
.card__side--back-3 {
    background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
.card__side--back-4 {
    background-image: linear-gradient(to right bottom, #04467F, #033F73);}
.card__side--back-5 {
    background-image: linear-gradient(to right bottom, #D99F0D, #F0B00E); }
.card__side--back-6 {
    background-image: linear-gradient(to right bottom, #D5522D, #FF0000); }

.card:hover .card__side--front {
    transform: rotateY(-180deg); }
.card:hover .card__side--back {
    transform: rotateY(0); }

.card__picture {
    background-size: cover;
    height: 325px;
    background-blend-mode: screen;
    /* -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); */
    /* border-top-left-radius: 3px;
    border-top-right-radius: 3px;  */
}

.card__picture--1 {
    background-image: url(assets/img/kaola-no-bg.png); }
.card__picture--2 {
    background-image: url(assets/img/8hl72y7a.jpg); }
.card__picture--3 {
    background-image: url(assets/img/pngtree-hand-drawn-cartoon-wishing-girl-free-button-element-image_1190563.jpeg); }
.card__picture--4 {
    background-image: url(assets/img/pngtree-hand-drawn-cartoon-wishing-girl-free-button-element-image_1190563.jpeg);
}
.card__picture--5 {
    background-image: url(../assets/img/portfolio/celltowerScreen.png);
}
.card__picture--6 {
    background-image: url(../assets/img/portfolio/gitScreen.png);
}

.card__heading2 {
    font-size: 28.5px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: #fff;
    position: absolute;
    top: 210px;
    right: 25px;
    width: 100%; }

.card__heading {
    font-size: 28.5px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: #fff;
    position: absolute;
    top: 255px;
    right: 15px;
    width: 100%;
}
.card__heading-span {
    padding: 7px 12px;
    line-height: 180%;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }


.card__heading-span--1 {
    background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85)); }
.card__heading-span--2 {
    background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85)); }
.card__heading-span--3 {
    background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85)); }
.card__heading-span--4 {
    background-image: linear-gradient(to right bottom, rgba(4, 70, 127, 0.85), rgba(3, 63, 115, 0.85)); }
.card__heading-span--5 {
    background-image: linear-gradient(to right bottom, rgba(217, 159, 13, 0.85), rgba(240, 176, 14, 0.85)); }
.card__heading-span--6 {
    background-image: linear-gradient(to right bottom, rgba(213, 82, 45, 0.85), rgba(255, 0, 0, 0.85)); }

.card__details {
    padding: 30px; }

.card__details ul {
    list-style: none;
    width: 80%;
    margin: 0 auto; }
.card__details ul li {
    text-align: center;
    font-size: 15px;
    padding: 10px; }
/* .card__details ul li:not(:last-child) {
  border-bottom: 1px solid #eee;
} */

.card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
.card__price-box {
    text-align: center;
    color: #fff;
    margin-bottom: 80px; }
.card__price-only {
    font-size: 14px;
    text-transform: uppercase; }
.card__price-detail {
    font-size: 20px;
    font-weight: 500; }


@media only screen and (max-width: 56.25em), only screen and (hover: none) {
    .card {
        height: auto;
        /* border-radius: 3px; */
        background-color: #fff;
        /* box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);  */
    }

    .card__side {
        height: auto;
        position: relative;
        box-shadow: none;
        border-radius: 0px !important;

    }

    .card__side--back {
        transform: rotateY(0);
        border-radius: 0px !important;
        /* clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);  */
    }

    .card:hover .card__side--front {
        transform: rotateY(0); }
    .card__details {
        padding: 10px 30px; }
    .card__cta {
        position: relative;
        top: 0%;
        left: 0;
        transform: translate(0);
        width: 100%;
        padding: 70px 40px 40px 40px; }
    .card__price-box {
        margin-bottom: 30px; }
    .card__price-value {
        font-size: 40px; }
}







/* BUTTONS */

.btn2, .btn2:link, .btn2:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: relative;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-top: 5px;
    text-align: center;
    /* margin: auto; */
    width: 260px;
}
/* @media only screen and (max-width: 500px) {
  .btn2, .btn2:link, .btn2:visited {
    padding: 10px 25px;
    margin-left: 35px;
  }
}
@media only screen and (max-width: 440px) {
  .btn2, .btn2:link, .btn2:visited {
    padding: 10px 25px;
    margin-left: 10px;
  }
} */

.btn2:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); }
.btn2:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn2:active, .btn2:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }
.btn2--darkblue {
    background-color: #0a2239;
    color: #fff; }
.btn2--darkblue::after {
    background-color: #0a2239;
    color: #fff;
}


.btn2--white {
    background-color: #fff;
    color: #777; }
.btn2--white::after {
    background-color: #fff; }

.btn2--green {
    background-color: #55c57a;
    color: #fff; }
.btn2--green::after {
    background-color: #55c57a; }

.btn2--orange {
    background-color: #ffb900;
    color: #fff; }
.btn2--orange::after {
    background-color: #ffb900; }
.btn2--blue {
    background-color: #2998ff;
    color: #fff; }
.btn2--blue::after {
    background-color: #2998ff; }

.btn2--darkblue {
    background-color: #0a2239;
    color: #fff; }
.btn2--darkblue::after {
    background-color: #0a2239;
    color: #fff;
}
.btn2--gold {
    background-color: #F0B00E;
    color: #fff; }
.btn2--gold::after {
    background-color: #F0B00E; }

.btn2--red {
    background-color: #FF0000;
    color: #fff; }
.btn2--red::after {
    background-color: #FF0000; }


.btn2::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s; }

.btn2--animated {
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards; }

.btn2-text:link, .btn2-text:visited {
    font-size: 16px;
    color: #55c57a;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid #55c57a;
    padding: 3px;
    transition: all .2s; }

.btn2-text:hover {
    background-color: #55c57a;
    color: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px); }

.btn2-text:active {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    transform: translateY(0); }







/* POP-UP MODAL */

.popup {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: all .3s; }

@supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
    .popup {
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        background-color: rgba(0, 0, 0, 0.3); }
}

.popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    background-color: #fff;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    display: table;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.25);
    transition: all .5s .2s; }
.popup__left {
    width: 35%;
    display: table-cell; }

@media only screen and (max-width: 1400px) {
    .popup__left {
        width: 0%; }
}
.popup__right {
    width: 65%;
    display: table-cell;
    vertical-align: middle;
    padding: 30px 50px; }

@media only screen and (max-width: 1400px) {
    .popup__right {
        width: 100%;
        display: table-cell;
        vertical-align: middle;
        padding: 30px 50px; }
}
.popup__middle {
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    padding: 30px 50px; }

.popup__img {
    display: block;
    background-size: cover;
    height: 550px;
    width: 100%;
}

.popup__container {
    display: flex;
    height: auto;
    width: auto;
    justify-content: space-between;
}

/* .popup__text {
  font-size: 18px;
  margin-bottom: 20px;
} */

.popup__textPoints {
    font-size: 18px;
    margin-bottom: 20px;
    list-style-type: square;
    width: 100%;
}

ul.a {
    list-style-position: outside;
}

.popup__list {
    font-size: 14px;
    margin-bottom: 20px;
    width: auto;
    display: grid;
    flex-direction: column;
    align-content: center;
}

.popup__listTitle {
    font-size: 25px;
    text-align: center !important;
}

@media (min-width: 1500px) {
    .popup__listTitle {
        font-size: 25px;
        text-align: center !important;
        white-space: nowrap;
    }
}

.popup__listPoints {
    font-size: 20px;
    margin-bottom: 20px;
    list-style-type: space-counter;
    margin: 0 auto;

    position:relative;
    display: inline-block;
    list-style: none;
    width: 100%;
    text-align: center;
    margin: auto;
    padding: 0;
}

.heading-secondary {
    font-size: 50px;
    font-weight: 700;
    display: inline-block;
    color: #0a2239;
    letter-spacing: 2px;
    transition: all .2s;
}

@media only screen and (max-width: 800px) {
    .popup__textPoints {
        font-size: 14px;
        margin-bottom: 20px;
        list-style-type: square;
        width: 100%;
    }
    .popup__listTitle {
        font-size: 20px;
        text-align: center !important;
    }
    .popup__listPoints {
        font-size: 16px;
        margin-bottom: 16px;
        list-style-type: space-counter;
        margin: 0 auto;

        position:relative;
        display: inline-block;
        list-style: none;
        width: 100%;
        text-align: center;
        margin: auto;
        padding: 0;
    }
    .heading-secondary {
        font-size: 36px;
        font-weight: 700;
        display: inline-block;
        color: #0a2239;
        letter-spacing: 2px;
        transition: all .2s;
    }
}
@media only screen and (max-width: 550px) {
    .popup__container {
        display: flex;
        height: auto;
        width: auto;
        justify-content: center;
    }
    .popup__list {
        font-size: 14px;
        margin-bottom: 20px;
        margin-right: 35px;
        width: auto;
        display: grid;
        flex-direction: column;
        align-content: center;
        align-self: center;
    }
    .popup__textPoints {
        display: none;
    }
    .divider2-custom .divider2-custom-line {
        display: none;
    }
}

.divider2-custom {
    margin: 1.25rem 0 1.5rem;
    width: 20%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.divider2-custom .divider2-custom-line {
    width: .1rem;
    /* max-width: 7rem; */
    height: 100%;
    background-color: #777;
    border-color: #777 !important;
}
.divider2-custom .divider2-custom-icon {
    color: #777 !important;
    font-size: 2rem; }
.divider2-custom.divider2-light .divider2-custom-line {
    background-color: #fff; }
.divider2-custom.divider2-light .divider2-custom-icon {
    color: #fff !important; }

.divider3-custom {
    /* margin: 1.25rem 0 1.5rem; */
    margin-bottom: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
.divider3-custom .divider3-custom-line {
    width: 100%;
    max-width: 25rem;
    height: 0.15rem;
    background-color: #0a2239;
    border-radius: 1rem;
    border-color: #0a2239 !important;
    margin-right: -.5rem;
    margin-left: -.5rem; }
.divider3-custom .divider3-custom-icon {
    color: #0a2239 !important;
    font-size: 2rem; }
.divider3-custom.divider3-light .divider3-custom-line {
    background-color: #fff; }
.divider3-custom.divider3-light .divider3-custom-icon {
    color: #fff !important; }

.popup:target {
    opacity: 1;
    visibility: visible; }
.popup:target .popup__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
.popup__close:link, .popup__close:visited {
    color: #777;
    position: absolute;
    top: 30px;
    right: 40px;
    font-size: 40px;
    text-decoration: none;
    display: inline-block;
    transition: all .2s;
    line-height: 1; }
.popup__close:hover {
    color: black; }


/* @media only screen and (max-width: 56.25em) {
  .heading-secondary {
    font-size: 3rem; } }
@media only screen and (max-width: 37.5em) {
  .heading-secondary {
    font-size: 2.5rem; } } */


.u-margin-bottom-small {
    margin-bottom: 1.5rem !important; }



